DATABASE_URL=postgresql://neondb_owner:npg_LHS0KGqD4xak@ep-square-wave-ano69tc4-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=votre_secret_jwt_tres_long_et_aleatoire_ici
PORT=3001
